version: '3.1'
services:
  web:
    image: odoo:16
    container_name: ${{VAR_PROJECT_NAME_LOWER}}-web
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./.docker/etc:/etc/odoo
      - ./.docker/extras:/opt/odoo_extras
      - .:/opt/odoo_addons
  db:
    image: postgres:13
    container_name: ${{VAR_PROJECT_NAME_LOWER}}-db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGUSER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
volumes:
  odoo-web-data:
  odoo-db-data:
