build==1.5.0
setuptools==82.0.1
wheel==0.47.0
coverage==7.14.1
${{VAR_REQUIREMENTS_LINT}}
${{VAR_REQUIREMENTS_TYPE_CHECK}}
${{VAR_REQUIREMENTS_DEPLOY}}
${{VAR_REQUIREMENTS_DOCS}}
${{VAR_REQUIREMENTS_DOCS_DOCSTRINGS}}
