build==1.3.0
setuptools==80.9.0
wheel==0.45.1
coverage==7.13.0
${{VAR_REQUIREMENTS_LINT}}
${{VAR_REQUIREMENTS_TYPE_CHECK}}
${{VAR_REQUIREMENTS_DEPLOY}}
${{VAR_REQUIREMENTS_DOCS}}
${{VAR_REQUIREMENTS_DOCS_DOCSTRINGS}}
